<main class="flex h-screen ">
  <app-sidebar [fullName]="fullName" [email]="email"></app-sidebar>

  <section class="flex h-full flex-1 flex-col ">
    <app-mobilenavigation *ngIf="currentUser" [fullName]="fullName" [email]="email" [currentUser]="currentUser">
    </app-mobilenavigation>
    <app-header *ngIf="currentUser" [currentUser]="currentUser"></app-header>
    <div class="main-content " #mainContent>
      <router-outlet></router-outlet>
      @if (isDashboardRoute) {
      <div class="dashboard-container">
        <section>
          <app-chart [used]="(usedSpace | async)?.used || 0"></app-chart>
          <ul class="dashboard-summary-list">
            @for (summary of usageSummary; track summary.title) {
            <a [routerLink]="summary.url" class="dashboard-summary-card">
              <div class="space-y-4">
                <div class="flex justify-between gap-3">
                  <img [src]="summary.icon" width="100" height="100" alt="uploaded image" class="summary-type-icon" />
                  <h4 class="summary-type-size">
                    {{ convertFileSize(summary.size) || 0 }}
                  </h4>
                </div>

                <h5 class="summary-type-title">{{ summary.title }}</h5>
                <hr class="my-4">
                <app-formatted-date-time [date]="summary.latestDate" class="text-center"></app-formatted-date-time>
              </div>
            </a>
            }
          </ul>
        </section>

        <section class="dashboard-recent-files overflow-x-hidden">
          <h2 class="h3 xl:h2 text-light-100">Recent files uploaded</h2>
          @if (files.length > 0) {
          <ul class="mt-5 flex flex-col gap-5">
            @for (file of files; track file.$id) {
            <div class="flex gap-4 items-center ">
              <a [href]="file?.['url'] ?? ''" target="_blank">
                <app-thumbnail [type]="file?.['type'] ?? ''" [extension]="file?.['extention'] ?? ''"
                  [url]="file?.['url'] ?? ''"></app-thumbnail>
              </a>
              <div class="flex justify-between items-center w-full">
                <div class="flex flex-col gap-1">
                  <p class="recent-file-name">{{ file?.['name'] ?? '' }}</p>
                  <app-formatted-date-time [date]="file?.['$createdAt'] ?? ''" class="caption">
                  </app-formatted-date-time>
                </div>
                <app-actiondropdown [file]="file"></app-actiondropdown>
              </div>
            </div>
            }
          </ul>
          } @else {
          <p class="empty-list">No files uploaded</p>
          }
        </section>
      </div>
      }
    </div>
  </section>
</main>
